.epwsk-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  .epwsk-signup-box {
    display: flex;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 900px;
  }

  .epwsk-signup-form {
    width: 50%;
    padding: 32px;
    margin-left: -100px;
  }
  
  .epwsk-signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .epwsk-signup-title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .epwsk-signup-logo {
    height: 70px;
  }
  
  .epwsk-signup-input {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border:none;
    border-radius: 15px;
    background: #CBDCEB;
    font-weight: bold;
  }
  
  .epwsk-signup-button {
    width: 100%;
    background: #133E87;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .epwsk-signup-divider {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }
  
  .epwsk-signup-hr {
    flex-grow: 1;
    height: 2px;
    background: #000000;
  }
  
  .epwsk-signup-or {
    margin: 0 12px;
    color: #000000;
    font-weight: bold;
  }
  
  .epwsk-signup-google-button {
    width: 100%;
    background: #CBDCEB;
    border: none;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  .epwsk-signup-google-icon {
    height: 20px;
    margin-right: 8px;
  }
  
  .epwsk-signup-footer {
    text-align: center;
    margin-top: 16px;
    color: #000000;
    font-weight: bold;
  }
  
  .epwsk-signup-link {
    font-weight: bold;
    color: black;
  }
  
  .epwsk-signup-image-container {
    width: 50%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    background: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .epwsk-signup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Mobile View */
@media (max-width: 768px) {
  .epwsk-signup-box {
      flex-direction: column;
      width: 100%;
  }

  .epwsk-signup-input{
    width:400px;
    margin:1;
    margin-left: 10px;
  }

  .epwsk-signup-image-container {
    width: 100%;
    border-radius: 3px;
    height: 450px;
    position: absolute;
    bottom: 1; /* Position the image container at the bottom of the box */
    left: 0;
    margin-top: -10px;
    
  }

  .epwsk-signup-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: scaleX(-1);
  }
  
  .epwsk-signup-form {
      width: 100%;
      padding: 16px;
      margin: 0;
      margin-top: 250px;
  }

  .epwsk-signup-header {
      justify-content: center;
      margin-bottom: 16px;
  }

  .epwsk-signup-footer{
    display: none;
  }

  .epwsk-signup-title {
      font-size: 28px;
      margin-left: 0;
      margin-top: 0;
  }

  .epwsk-signup-logo {
    position: absolute;
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
    height: 50px; /* Adjust the size of the logo */
  }

  .epwsk-signup-image {
      width: 100%;
      height: 100%;
  }

  .epwsk-signup-button{
    width: 400px;
    margin-left: 10px;
  }


}